<hr/>
<p id="concurrent_draft_status">

  <label for='concurrent_draft'><b>Concurrent Draft</b></label>
	&nbsp;&nbsp;&nbsp;Status: draft_body
  <% button_text = "Clear and replace with prod content" %>
  <% if @page.new_record? %>
    page part initialized.  Promotion status will be displayed after page is created.   
  <% elsif !@page.has_draft? %>
    does not exist.  
    <% button_text = "Create Draft" %>    
  <% elsif !@page.has_draft_promoted? %>
    has never been promoted,
    <% if !@page.has_draft_promotion_scheduled? %>
      and is not scheduled for promotion.
    <% else %>
      but is scheduled for promotion on <%= @page.draft_promotion_scheduled_at.ctime %>.
    <% end %>  
  <% else %>
    was last promoted on <%= @page.draft_promoted_at.ctime %>,
    <% if @page.has_draft_promotion_scheduled? %>
      and is scheduled for promotion on <%= @page.draft_promotion_scheduled_at.ctime %>.
    <% else %>
      and is not scheduled for promotion.
    <% end %>  	
  <% end %>
</p>

<% unless @page.new_record? %>	
<p id="concurrent_draft_actions" style="margin-left:10px">
  <% unless button_text == "Create Draft" %>
    <% form_for :page, @page, :url => { :action => "schedule_draft_promotion" } do |f| %>
      <%= submit_tag Page.promote_now_text %>
      &nbsp;-or-&nbsp;
      <%= submit_tag Page.schedule_promotion_text %>
      <%= f.datetime_select :draft_promotion_scheduled_at %> 
      <% unless @page.draft_promotion_scheduled_at == nil%>
        &nbsp;-or-&nbsp;<%= submit_tag Page.cancel_promotion_text %>
      <% end %>
    <% end %>
  <% end %>

  <%= button_to button_text, {:controller => "admin/page", 
                             :action => "initialize_draft", 
                             :id => @page,
                             :part => "body"},
                             {:style => "display:inline"}
   %>
</p>
<% end %>
<hr/>
