- include_stylesheet 'admin/concurrent_draft'
- include_javascript 'admin/concurrent_draft'

#draft-controls-container
  #draft-controls
    .status
      - if @controller.model.has_draft_promotion_scheduled?
        Scheduled
        = @controller.model.draft_promotion_scheduled_at.strftime('%m/%d/%y %I:%M%p')
      - elsif @controller.model.publishable? && ! @controller.model.published?
        %em Unpublished
      - else
        %em= t('draft_promotion_unscheduled')
    %ul.dropdown
      - if @controller.authorized_user?
        %li.schedule_draft= link_to t('schedule_promotion'), '#schedule-draft-popup', :class => 'popup'
        %li.publish= link_to t('promote_now'), {:action => 'schedule_draft_promotion', :commit => @controller.model_class.promote_now_text}, :method => :post
        - if @controller.model.has_draft_promotion_scheduled?
          %li.cancel= link_to t('cancel_promotion'), {:action => 'schedule_draft_promotion', :commit => @controller.model_class.cancel_promotion_text}, :method => :post
        - if @controller.model.publishable? && @controller.model.published?
          %li.unpublish= link_to t('unpublish'), {:action => 'unpublish'}, :method => :post
        - if @controller.model.has_draft_promoted?
          %li.revert= link_to t('revert_draft'), '#revert-draft-popup', :class => 'popup'

- content_for :popups do
  - if @controller.authorized_user?
    .popup#schedule-draft-popup{:style => 'display:none'}
      %h3.title
        %img{:src => '/images/admin/clock.png'}
        = t('schedule_promotion')
      - form_for @controller.model, :url => {:action => 'schedule_draft_promotion'}, :html => {:method => :post} do |f|
        %div
          = f.datetime_select :draft_promotion_scheduled_at, :start_year => Date.today.year, :minute_step => 15, :twelve_hour => true
          = hidden_field_tag :commit, @controller.model_class.schedule_promotion_text
        %p{:style => 'text-align: right'}
          %button{:type => 'submit'}= t('schedule')
          = t('or')
          = link_to_function t('cancel'), "$(this).closePopup();"
  .popup#revert-draft-popup{:style => 'display:none'}
    %p.revert
      %img{:src => '/images/admin/page_refresh.png'}
      The draft has been replaced with the live content.  
      %br/
      %br/
      %em You must save the page for this to take effect.
      %span{:style => 'padding-left:8px'}= link_to_function 'OK', "$(this).closePopup();"