- if @controller.model.is_a?(Page)
  - @buttons_partials.each do |partial|
    = render :partial => partial
%p.buttons
  = save_model_and_continue_editing_button(@controller.model)
  = save_model_button(@controller.model)
  - if @controller.authorized_user?
    = save_model_and_promote_button(@controller.model)
  or
  = link_to 'Cancel', :action => 'index'